{% extends "layout.html" %}
{% block title %}
{{title}}
{% endblock %}

{% block content %}
<form action="/products/new" method="post" enctype="multipart/form-data">
    <fieldset><legend> Insert New Product </legend>
    <div class="form-group">
        <label for="name">Product Name</label>
        <input type="text" class="form-control" name="name" >
        
      </div>
    <div class="form-group">
      <label for="price">Price</label>
      <input type="number" class="form-control" name="price">
     
    </div>
    <div class="form-group">
      <label for="category">Choose Category</label>
        <select name="category"  class="form-control">
            <option value="tv">TV</option>
            <option value="aircon">Aircon</option>
            <option value="fridge">Fridge</option>
            <option value="washing_machine">Wahshing Machine</option>



        </select>
    </div>
    <div class="form-group">
        <label for="filename">Product Image</label>
        <input type="file" class="form-control" name="filename" >
        
      </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
</fieldset>
  </form>
    

{% endblock  %}